/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
  background-color: #f8f9fa;
  margin: 0;
}

/* Contenedor principal de la página de inicio */
.inicio-container {
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}

/* Contenedor de la aplicación */
.app-container {
  margin-top: 60px;
}

/* Elemento dentro del contenedor de inicio */
.inicio-item {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff; 
  padding: 15px;
  border-radius: 5px;
}

/* Información de rol */
.rol-info {
  flex-grow: 1;
}

/* Contenedor de eventos */
.eventos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contenedor de contenido */
.content-container {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-wrap:wrap;
}

/* Contenedor de información */
.info-container {
  flex: 1; /* Hace que ocupe el espacio disponible */
  max-width: 600px; /* Tamaño máximo */
  margin-right: 20px; /* Espacio entre contenedores */
  margin-bottom: 20px; /* Espacio inferior */
  padding: 20px;
  background-color: #f1f1f1;
}

/* Contenedor del carrusel */
.carrucel-container {
  flex: 1; /* Hace que ocupe el espacio disponible */
  max-width: calc(100% - 40px); /* Calculamos el ancho restante restando el tamaño del info-container y su margen */
  padding: 20px;
}

@media (max-width: 768px) {
  .info-container,
  .carrucel-container {
    max-width: 100%;
    margin-right: 0; 
    margin-bottom: 10px; 
  }
}
