<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> origin/dev
body {
  margin: 0;
}

<<<<<<< HEAD
>>>>>>> 4b36150bddaeb741bd14c61dfc92c1f9954631af
=======
>>>>>>> origin/dev
.navbar {
  background-color: #2980b9;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-link {
<<<<<<< HEAD
<<<<<<< HEAD
  color: #fff;
=======
  color: #f2f2f2;
  font-size: 20px;
>>>>>>> 4b36150bddaeb741bd14c61dfc92c1f9954631af
=======
  color: #f2f2f2;
  font-size: 20px;
>>>>>>> origin/dev
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navbar-link:hover {
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
=======
  /* background-color: rgba(255, 255, 255, 0.1); */
  color: #333;
  text-decoration:overline; 
>>>>>>> 4b36150bddaeb741bd14c61dfc92c1f9954631af
=======
  /* background-color: rgba(255, 255, 255, 0.1); */
  color: #333;
  text-decoration:overline; 
>>>>>>> origin/dev
}

.navbar-btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

@media (max-width: 768px) {
  .navbar {
<<<<<<< HEAD
<<<<<<< HEAD
    padding: 10px 15px;
=======
    padding: 15px 20px;
>>>>>>> 4b36150bddaeb741bd14c61dfc92c1f9954631af
=======
    padding: 15px 20px;
>>>>>>> origin/dev
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #2980b9;
    z-index: 1;
  }

  .navbar-links.show {
    display: flex;
  }

  .navbar-link,
  .navbar-btn {
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

.navbar-left {
<<<<<<< HEAD
<<<<<<< HEAD
  margin-right: 20px;
  padding-left: 20px;
=======
  width: 45%; 
  box-sizing: border-box; 
  padding-left: 20px;
=======
  width: 45%; 
  box-sizing: border-box; 
  padding-left: 20px;
>>>>>>> origin/dev
  padding-right: 0;
}

.navbar-left a {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 24px;
}

.navbar-left:hover {
  color: #333;
  text-decoration: overline; 
}

.centered-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
}

.centered-panel .navbar-brand {
  color: #fff;
  text-decoration:overline;
  font-size: 24px;
  font-weight: bold;
}

.centered-panel:hover{
  color: #333;
  text-decoration: overline; 
}

.navbar-toggler {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-right {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #67B0E0;
    z-index: 1;
  }

  .navbar-right.show {
    display: flex;
  }
}

@media (max-width: 758px) {
  .centered-panel, .navbar-right {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #67B0E0;
    z-index: 1;
  }

  .centered-panel.show, .navbar-right.show {
    display: flex;
  }
}

.navbar-toggler {
  background-color: #fff; /* Color de fondo */
  color: #2980b9; /* Color del ícono de hamburguesa */
  border: 1px solid #2980b9; /* Borde del botón */
  border-radius: 4px; /* Bordes redondeados */
  padding: 10px 15px; /* Espaciado interno */
  font-size: 18px; /* Tamaño del ícono */
  cursor: pointer; /* Cursor en forma de mano al pasar el ratón */
  transition: all 0.3s ease; /* Transición suave para cambios de estilo */
}

.navbar-toggler:hover {
  background-color: #2980b9; /* Color de fondo al pasar el ratón */
  color: #fff; /* Color del ícono al pasar el ratón */
  border-color: #fff; /* Color del borde al pasar el ratón */
<<<<<<< HEAD
>>>>>>> 4b36150bddaeb741bd14c61dfc92c1f9954631af
=======
>>>>>>> origin/dev
}
