.quienes-somos-container {
<<<<<<< HEAD
<<<<<<< HEAD
    /*background-color: #f9f9f9;*/
    padding: 100px;
    text-align: center;
  }
  
  .quienes-somos-title {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .quienes-somos-content {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .quienes-somos-desarrolladores {
    margin-top: 40px;
  }
  
  .quienes-somos-subtitle {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .desarrolladores-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .desarrolladores-list li {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
  }
  
=======
=======
>>>>>>> origin/dev
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: #f8f9fa;*/
  padding: 50px;
  text-align: center;
}

.quienes-somos-card {
  max-width: 600px;
  padding: 20px;
  border: 2px solid #6d4040;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Agrega margen inferior para separar las tarjetas */
}

.quienes-somos-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  align-items: flex-start; 
}

.quienes-somos-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.quienes-somos-content {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
}

.quienes-somos-desarrolladores {
  margin-top: 40px;
}

.quienes-somos-subtitle {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.desarrolladores-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.desarrolladores-list li {
  font-size: 18px;
  color: #555;
  margin-bottom: 15px;
}

quienes-somos-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; /* Ajustado para mejor fluidez */
  align-items: flex-start;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantalla pequeña */
}

@media (max-width: 768px) {
  .quienes-somos-sections {
    flex-direction: column; /* Coloca los elementos en una columna en pantallas pequeñas */
    align-items: center; /* Centra los elementos */
  }

  .quienes-somos-desarrolladores, .contactanos {
    width: 100%; /* Asegura que tomen todo el ancho disponible */
    margin-bottom: 20px; /* Espaciado entre secciones */
  }

  .quienes-somos-title, .quienes-somos-subtitle {
    font-size: 24px; /* Reduce el tamaño de fuente para títulos en pantallas pequeñas */
  }

  .desarrolladores-list li, .quienes-somos-content {
    font-size: 16px; /* Reduce el tamaño de fuente para el contenido y lista */
  }
<<<<<<< HEAD
}
>>>>>>> 4b36150bddaeb741bd14c61dfc92c1f9954631af
=======
}
>>>>>>> origin/dev
